/*General styles*/

* {
}
.inline {
	display: inline;
}
.text-center {
	text-align: center;
}
.mb-30 {margin-bottom: 30px;}
.mb-10 {margin-bottom: 10px;}

h1, h2, h3 {
	color: rgb(240,240,240);
	font-family: 'Roboto';
}


html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
				font-family: 'Open Sans', Arial, sans-serif;
				background-color: rgb(8,8,8);
				min-width: 250px;
    }
    .wrap {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
				color: white;
				padding-left: 5px;
				padding-right: 5px;
    }
    header, main, footer {
        flex-shrink: 0;
    }




		/*Header styles*/

		.head {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			padding: 7px 10px 7px 10px;
			color: grey;
		}

		.logo img {
			width: 50px;
    	height: 40px;
			margin-left: -17px;
			margin-bottom: -20px;
			transition: width 2s, height 2s;
			transition: margin-left 2s;
			transition-timing-function: linear;
			overflow: visible;
			z-index: 10;
		}

		.logo img:hover {
			transform: scale(1.5);
			padding-top: 7px;
		}

		/*Menu styles*/

		nav {
				z-index: 15;
		}

		nav ul {
	    margin: 0;
	    list-style:none;
		}

		nav li {
		    display: inline-block;
		    padding: 5px 10px;
				position: relative;
		}

		li:hover > ul {
		    display: inline-block;
		}

		nav a {
			color: grey;
		}

		nav a:hover {
			color: rgb(232,232,232);
		}

		nav ul ul {
		    position: absolute;
		    display: none;
		    margin: 0;
				width: 140px;
				top: 25px;
				left: 5px;
				border: 2px solid rgb(16,16,16);
		}

		nav ul ul li {
		    display: block;
				padding: 12px 5px;
				padding-left: 20px;
				font-size: 0.8rem;
				border-bottom: 1px solid rgb(16,16,16);
		}

		nav ul ul li:hover {
				background-color: rgb(32,32,32);
		}
		nav ul ul li:hover ul{
				display: inline-block;
		}

		nav ul ul ul {
		    position: absolute;
		    top: 0;
		    left: 100%;
		}

		/*Main styles*/
		main {
				flex-grow: 1;
		}

			/*Hero styles*/

		.hero {
				min-height: 400px;
				background-image: linear-gradient(
					rgba(10, 10, 10, 0.7),
					rgba(10, 10, 10, 0.7)
				),
				url(../img/hero4.jpg);
				background-position: center center;
				background-size: cover;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
		}
		.hero-content {
				align-self: center;
				width: 100%;
				display: flex;
				flex-flow: column wrap;
				justify-content: center;
		}

		h1 {
				font-size: 1.8rem;
		}

		.search {
			display: inline-flex;
	 		justify-content: space-around;
	 		align-items: stretch;
			min-width: 200px;
		  max-width: 350px;
			width: 50%;
		  height: 35px;
		  margin: 30px auto 0;
		  background-color: rgb(240,240,240);
		  overflow: hidden;
			border-radius: 20px;
		  }


		.search-input {
		  width: 100%;
		  height: 100%;
		  box-shadow: none;
		  border: none;
		  background: transparent;
			color: grey;
			padding: 20px;
			font-size: 1rem;
			float: left;
			outline: none;
		}




		.search-btn {
	    width: 35px;
	    height: 35px;
	    top: 1px;
	    right: 4px;
	    border: none;
	    text-align: center;
	    color: grey;
	    border-radius: 34px;
	    cursor: pointer;
	    font-size: 2rem;
	    display: flex;
	    justify-content: center;
	    align-items: center;
			padding: 0;
			outline: none;
		}

		.search-btn:hover .fa-search{
			transform: scale(1.1);
			opacity: 1;
		}

		.fa-search {
		  font-size: 1.4rem;
		  font-weight: 200;
			width: 100%;
			height: 100%;
			padding-top: 4px;
			transition: all 1s;
			color: grey;
			opacity: 0.7;
		}


		/*Result styles*/

		.result {
			margin: 20px auto;
			border-radius: 5px;
			/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);*/
			padding: 20px 0 20px 0;
		}

		.result h2 {
			font-size: 1.2rem;
			margin-bottom: 20px;
		}

		.card-wrap {
			padding-top: 6%;
    	padding-bottom: 4%;
		}

		.card {
			display: inline-flex;
			flex-flow: column wrap;
			color: grey;
			opacity: 0.4;
			vertical-align: top;
			max-width: 100%;
			position: relative;
			height: auto;
			margin: 20px auto;
		}
		.card img {
			border: 3px solid grey;
			height: 200px;
			width: 100%;
		}
		.card a {
			transition: all 55ms;
		}
		.card a:hover img {
			transform: scale(1.1);
			z-index: 5;
		}
		.card h3 {
			margin-bottom: 5px;
			margin-top: 5px;
		}
		.card p {
			font-size: 0.8rem;
		}



		/*Footer styles*/
    footer {
        min-height: 50px;
        background-color: rgb(8,8,8);
    }


	#footer {
	    font-size: .9em;
	    line-height: 1.8em;
	    margin: 0 auto;
			color: grey;
			padding-bottom: 10px;
	}

	#footer a {
		color: grey;
	}
	#footer i {
		padding-right: 10px;
	}

	a.btn-las-mer {
		color: white;
	}
	#footer a:hover {
		color: white;
	}
	#footer .btn {
		 color: grey;
		 border-radius: 5px;
		 font-size: 16px;
		 line-height: 100%;
		 width: 8em;
		 height: 25px;
		 background-color: inherit;
		 border: 1px solid grey;
		 margin-top: 6px;
	}

	#footer .btn:hover {
		background-color: grey;
		color: white;
	}
	#footer input {
		max-width: 200px;
		color: grey;
		border-radius: 3px;
		padding-left: 5px;
	}


		/*Media queries*/

@media (max-width: 700px) {

}

@media (max-width: 700px) {
		.hero {
				min-height: 300px;
		}

		h1 {
				font-size: 1.5rem;
		}
}

@media (max-width: 350px) {
		h1 {
				font-size: 1.2rem;
		}

		.search {
		  width: 200px;
			margin: 15px auto 0;
		  }

			.result {
				width: 95%;
			}
}

@media (max-width: 250px) {
		h1 {
				font-size: 1rem;
		}

		.result {
			width: 100%;
		}
		.result h2 {
			font-size: 1rem;
		}

		.card img {
			margin-left: 0;
			margin-right: 0;
		}

		.card-wrap {
			width: 100%;
		}

}
