/*General styles*/

* {
}
.inline {
	display: inline;
}
.text-center {
	text-align: center;
}


html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
				font-family: 'Open Sans', Arial, sans-serif;
				background-color: rgb(8,8,8);
				min-width: 250px;
    }
    .wrap {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
				color: white;
    }
    header, main, footer {
        flex-shrink: 0;
    }




		/*Header styles*/

		.head {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			padding: 7px 10px 7px 10px;
			color: grey;
		}

		.logo img {
			width: 50px;
    	height: 40px;
			margin-left: -17px;
			margin-bottom: -20px;
			transition: width 1s, height 1s;
			transition: margin-left 1s;
			transition-timing-function: linear;
			overflow: visible;
			z-index: 10;
		}

		.logo img:hover {
			transform: scale(1.5);
			padding-top: 7px;
		}

		/*Menu styles*/

		nav {
				z-index: 15;
		}

		nav ul {
	    margin: 0;
	    list-style:none;
		}

		nav li {
		    display: inline-block;
		    padding: 5px 10px;
				position: relative;
		}

		li:hover > ul {
		    display: inline-block;
		}

		nav a {
			color: grey;
		}

		nav a:hover {
			color: rgb(232,232,232);
		}

		nav ul ul {
		    position: absolute;
		    display: none;
		    margin: 0;
				width: 140px;
				top: 25px;
				left: 5px;
				border: 2px solid rgb(16,16,16);
		}

		nav ul ul li {
		    display: block;
				padding: 12px 5px;
				padding-left: 20px;
				font-size: 0.8rem;
				border-bottom: 1px solid rgb(16,16,16);
		}

		nav ul ul li:hover {
				background-color: rgb(32,32,32);
		}
		nav ul ul li:hover ul{
				display: inline-block;
		}

		nav ul ul ul {
		    position: absolute;
		    top: 0;
		    left: 100%;
		}

		/*Hero styles*/





		/*Main styles*/
    main {
        flex-grow: 1;
    }

		/*Footer styles*/
    footer {
        min-height: 50px;
        background-color: black;
    }


		/*Media queries*/

@media (max-width: 700px) {
		.hero {
				min-height: 300px;
		}

		h1 {
				font-size: 1.5rem;
		}
}

@media (max-width: 350px) {
		h1 {
				font-size: 1.2rem;
		}

		.search {
		  width: 200px;
		  height: 35px;
			margin: 15px auto 0;
		  }
}
